@import '../.././common/Variable.scss';

.navbarwrapper{
    background-color: $color--nav-bg !important;
    
    &__img{
        height: 30px !important;
    }

    &__link{
        color: $color--nav-text !important;
        
    }

    .active{
        color: $color--white !important;
    }



    &__rightdata{
        display: flex;
        justify-content: center;
        align-items: center;
        &__dropdown{
            color: $color--nav-text;
            
            li{
                list-style: none;
            }
        }

        &__github{
            color:$color--nav-text;
            font-size: 20px;
            margin: 0px 25px;
            cursor: pointer;
        }

        &__discord{
            color: $color--nav-text;
            margin-right: 25px;
            cursor: pointer;
            font-size: 20px;
        }
        
    }

    
}

